body {
  background: #dbf3ff !important;
  padding: 20px;
}
.dashboard {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.dashboard-content {
  background: #fff;
  border-radius: 20px;
  padding: 2rem;
  gap: 1.5rem;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: 94vh;
}
.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .refcontent-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    gap: 3rem;
  }
  
.logo {
  text-align: center;
  padding: 20px;
  color: #27374d;
  align-items: center;
  display: flex;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-list .item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 550;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #27374d;
}
.menu-list .item:hover,
.active {
  background: #27374d;
  color: #dde6ed !important;
}

.main-Heading {
  color: #526d82;
  margin-top: 0%;
}
.logout-button {
  margin-bottom: 2%;
  font-size: 1.2rem;
  text-decoration: none !important;
  font-weight: 550;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  background: #27374d;
  color: #fff;
  transition: 0.2s ease-in-out;
}
