@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    106.37deg,
    #fff5e9 29.63%,
    #cce7ff 90.85%
  );
}
.appglass{
  display: flex;
  height: 97%;
  width: 97%;
  border-radius: 1rem;
  background-color: var(--glass);
  overflow: hidden;
}
.container{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}
.containerlogin{
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 70vh;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-image {
  height: 70px;
  width: auto;
  margin-right: 10px;
}
.button {
  background-color: #0099cc !important;
  color: white !important;
  text-transform: lowercase !important;
  border-radius: 30px !important;
  font-size: 1.2rem !important;
  height: 60px !important;
  transition: all 0.3s ease !important;
  border: 0 !important;
  padding: 12px 30px !important;
}

.button:hover {
  background-color: #ff6536 !important;
  box-shadow: 0px 4px 10px rgba(255, 87, 34, 0.4) !important;
}
.addButton {
  background-color: #0099cc !important;
  color: white !important;
  text-transform: lowercase !important;
  border-radius: 20px !important;
  font-size: 1rem !important;
  height: 40px !important;
  transition: all 0.3s ease !important;
  padding: 5px 20px !important;
}
.addButton:hover {
  background-color: #00a545 !important;
  box-shadow: 0px 4px 10px rgba(255, 87, 34, 0.4) !important;
}
.deleteButton {
  background-color: #ff6536 !important;
  color: white !important;
  text-transform: lowercase !important;
  border-radius: 20px !important;
  font-size: 1rem !important;
  height: 40px !important;
  transition: all 0.3s ease !important;
  padding: 5px 20px !important;
}
.deleteButton:hover {
  background-color: #f20800 !important;
  box-shadow: 0px 4px 10px rgba(255, 87, 34, 0.4) !important;
}

#bo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;  
}
.login {
  font-size: 2.5rem !important;
  font-weight: 500 !important;
  color: #0099cc;
}
.footer {
  padding-top: 2%;
  margin-top: 3%;
  background-color: #5fd7ff;
}
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.section {
  max-width: 300px;
  flex: 1;
  margin: 2% 100px 4%;
  background-color: #ffffff;
  padding: 3% 2%;
  border-radius: 30px
}
